<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="AuthorisationManagerServiceProxy" type="DevelopmentInProgress.AuthorisationManager.Service.AuthorisationManagerServiceProxy, DevelopmentInProgress.AuthorisationManager.Service" />
    <alias alias="IAuthorisationManagerServiceProxy" type="DevelopmentInProgress.AuthorisationManager.Service.IAuthorisationManagerServiceProxy, DevelopmentInProgress.AuthorisationManager.Service" />
    <alias alias="IAuthorisationManagerService" type="DevelopmentInProgress.AuthorisationManager.Service.IAuthorisationManagerService, DevelopmentInProgress.AuthorisationManager.Service" />
    <alias alias="AuthorisationManagerServiceTest" type="DevelopmentInProgress.AuthorisationManager.Service.Test.AuthorisationManagerServiceTest, DevelopmentInProgress.AuthorisationManager.Service.Test" />
    
    <container>
      <register type="IAuthorisationManagerServiceProxy" mapTo="AuthorisationManagerServiceProxy"/>
      <register type="IAuthorisationManagerService" mapTo="AuthorisationManagerServiceTest"/>
    </container>

  </unity>

</configuration>