@model DevelopmentInProgress.AuthorisationManager.ASP.Net.Core.ViewModels.AuthorisationViewModel

<form id="activityform" asp-controller="Authorisation" asp-action="ActivitySave">
    <fieldset>
        <legend>
            <img src="~/images/authorisation/activity.png" alt="Activity" class="authorisation-img" />
            <label>Activity</label>
            <div class="authorisation-legend-divider"></div>
            <input type="image" value="Submit" src="~/images/authorisation/save.png" class="authorisation-legend-aref-img" />
            <a href="javascript:document.getElementById('activityform').reset();"><img src="~/images/authorisation/clear.png" alt="Reset" /></a>
        </legend>
        <ul style="list-style-type:none">
            <li>
                <label asp-for="Activity.Id"></label>
                <input asp-for="Activity.Id" />
            </li>
            <li>
                <label asp-for="Activity.Name"></label>
                <input asp-for="Activity.Name" />
            </li>
            <li>
                <label asp-for="Activity.ActivityCode"></label>
                <input asp-for="Activity.ActivityCode" />
            </li>
            <li>
                <label asp-for="Activity.Description"></label>
                <input asp-for="Activity.Description" />
            </li>
        </ul>
    </fieldset>
</form>