<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IAuthorisationManagerServer" type="DevelopmentInProgress.AuthorisationManager.Server.IAuthorisationManagerServer, DevelopmentInProgress.AuthorisationManager.Server" />
    <alias alias="AuthorisationManagerServer" type="DevelopmentInProgress.AuthorisationManager.Server.AuthorisationManagerServer, DevelopmentInProgress.AuthorisationManager.Server" />    
    <container>
      <register type="IAuthorisationManagerServer" mapTo="AuthorisationManagerServer"/>
    </container>

  </unity>

</configuration>