<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IAuthorisationManagerService" type="DevelopmentInProgress.AuthorisationManager.Service.IAuthorisationManagerService, DevelopmentInProgress.AuthorisationManager.Service" />
    <alias alias="AuthorisationManagerServer" type="DevelopmentInProgress.AuthorisationManager.Server.AuthorisationManagerServer, DevelopmentInProgress.AuthorisationManager.Server" />    
    <container>
      <register type="IAuthorisationManagerService" mapTo="AuthorisationManagerServer"/>
    </container>

  </unity>

</configuration>