@model DevelopmentInProgress.AuthorisationManager.ASP.Net.Core.ViewModels.AuthorisationViewModel

@{
    ViewBag.Title = "Authorisation Page";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
    <li><a data-toggle="tab" href="#roles">Roles</a></li>
    <li><a data-toggle="tab" href="#activities">Activities</a></li>
</ul>

<div id="authorisation" class="tab-content">
    <div id="users" class="tab-pane active">
        @await Component.InvokeAsync("User", @Model.User)
    </div>
    <div id="roles" class="tab-pane">
        @await  Component.InvokeAsync("Role", @Model.Role)
    </div>
    <div id="activities" class="tab-pane">
        @await Component.InvokeAsync("Activity", @Model.Activity)
    </div>
</div>