@model DevelopmentInProgress.AuthorisationManager.ASP.Net.Core.ViewModels.AuthorisationViewModel

<form id="userform" asp-controller="Authorisation" asp-action="UserSave">
    <fieldset>
        <legend>
            <img src="~/images/authorisation/users.png" alt="User" class="authorisation-img" />
            <label>User</label>
            <div class="authorisation-legend-divider"></div>
            <input type="image" value="Submit" src="~/images/authorisation/save.png" class="authorisation-legend-aref-img" />
            <a href="javascript:document.getElementById('userform').reset();"><img src="~/images/authorisation/clear.png" alt="Reset" /></a>
        </legend>
        <ul style="list-style-type:none">
            <li>
                <label asp-for="User.Id"></label>
                <input asp-for="User.Id" />
            </li>
            <li>
                <label asp-for="User.Name"></label>
                <input asp-for="User.Name" />
            </li>
            <li>
                <label asp-for="User.DisplayName"></label>
                <input asp-for="User.DisplayName" />
            </li>
        </ul>
    </fieldset>
</form>
