<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthorisationManagerServer" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AuthorisationManager/AuthorisationManagerServer"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorisationManagerServer"
                contract="AuthorisationManagerServerReference.IAuthorisationManagerServer"
                name="WSHttpBinding_IAuthorisationManagerServer">
                <identity>
                    <userPrincipalName value="INGWE\grant_000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>