@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul style="list-style-type:none">
        <li>
            <img src="~/images/contact/person.png" alt="Contact Person"/>
            <label>Grant Colley</label>
        </li>
        <li>
            <img src="~/images/contact/business.png" alt="Company"/>
            <label>Development In Progress Ltd</label>
        </li>
        <li>
            <img src="~/images/contact/location.png" alt="Location" />
            <label>London</label>
        </li>
        <li>
            <img src="~/images/contact/email.png" alt="Email"/>
            <a href="mailto:developmentinprogress@gmail.com">developmentinprogress@gmail.com</a>
        </li>
        <li>
            <img src="~/images/contact/github.png" alt="GitHub"/>
            <a href="https://github.com/grantcolley">https://github.com/grantcolley</a>
        </li>
        <li>
            <img src="~/images/contact/linkedin.png" alt="Linkedin"/>
            <a href="https://www.linkedin.com/in/grant-colley">https://www.linkedin.com/in/grant-colley</a>
        </li>
    </ul>
</div>