@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul style="list-style-type:none">
        <li>
            <img src="~/images/person.png"/>
            <label>Grant Colley</label>
        </li>
        <li>
            <img src="~/images/business.png"/>
            <label>Development In Progress Ltd</label>
        </li>
        <li>
            <img src="~/images/location.png" />
            <label>London</label>
        </li>
        <li>
            <img src="~/images/email.png"/>
            <a href="mailto:developmentinprogress@gmail.com">developmentinprogress@gmail.com</a>
        </li>
        <li>
            <img src="~/images/link.png"/>
            <a href="https://github.com/grantcolley">GitHub</a>
        </li>
        <li>
            <img src="~/images/link.png" />
            <a href="https://www.linkedin.com/in/grant-colley">Linkedin</a>
        </li>
    </ul>
</div>