@model DevelopmentInProgress.AuthorisationManager.ASP.Net.Core.ViewModels.RoleViewModel

<form id="roleform" asp-controller="Authorisation" asp-action="RoleSave">
    <fieldset>
        <legend>
            <img src="~/images/authorisation/role.png" alt="Role" class="authorisation-img" />
            <label>Role</label>
            <div class="authorisation-legend-divider"></div>
            <input type="image" value="Submit" src="~/images/authorisation/save.png" class="authorisation-legend-aref-img" />
            <a href="javascript:document.getElementById('roleform').reset();"><img src="~/images/authorisation/clear.png" alt="Reset" /></a>
        </legend>
        <ul style="list-style-type:none">
            <li>
                <label asp-for="Id"></label>
                <input asp-for="Id" />
            </li>
            <li>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </li>
            <li>
                <label asp-for="RoleCode"></label>
                <input asp-for="RoleCode" />
            </li>
            <li>
                <label asp-for="Description"></label>
                <input asp-for="Description" />
            </li>
        </ul>
    </fieldset>
</form>