@model DevelopmentInProgress.AuthorisationManager.ASP.Net.Core.ViewModels.AuthorisationViewModel

<form id="roleform" asp-controller="Authorisation" asp-action="RoleSave">
    <fieldset>
        <legend>
            <img src="~/images/authorisation/role.png" alt="Role" class="authorisation-img" />
            <label>Role</label>
            <div class="authorisation-legend-divider"></div>
            <input type="image" value="Submit" src="~/images/authorisation/save.png" class="authorisation-legend-aref-img" />
            <a href="javascript:document.getElementById('roleform').reset();"><img src="~/images/authorisation/clear.png" alt="Reset" /></a>
        </legend>
        <ul style="list-style-type:none">
            <li>
                <label asp-for="Role.Id"></label>
                <input asp-for="Role.Id" />
            </li>
            <li>
                <label asp-for="Role.Name"></label>
                <input asp-for="Role.Name" />
            </li>
            <li>
                <label asp-for="Role.RoleCode"></label>
                <input asp-for="Role.RoleCode" />
            </li>
            <li>
                <label asp-for="Role.Description"></label>
                <input asp-for="Role.Description" />
            </li>
        </ul>
    </fieldset>
</form>