<!DOCTYPE html>
<html>

    <head>
        <title>Authorisation Manager - @ViewBag.Title</title>
        <meta charset="utf-8" />

        <!-- style sheets are applied in the order they are included so site.css will override bootstrap.min.css  -->
        <!-- using the tilda ~ means the path is relative to the root of the app -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>

        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />*@
        <link rel="stylesheet" href="~/lib/jstree-bootstrap-theme/libs/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css"/>

    </head>

    <body>

        <div id="wrapper">
            <nav class="navbar">
                <a asp-controller="App" asp-action="Home" class="navbar-brand">Authorisation Manager</a>
                <div id="header" class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a asp-controller="App" asp-action="Home">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a asp-controller="App" asp-action="About">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <div id="main" class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10" style="background-color:whitesmoke">
                        @RenderBody()                        
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>

            <div id="footer" class="container-fluid">
                <div class="navbar navbar-fixed-bottom text-center">
                    <a href="https://github.com/grantcolley/authorisationmanager/tree/master/UI/ASPNetCore">Development In Progress Ltd</a>
                </div>
            </div>

        </div>
        
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>

        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>*@
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>*@
        <script src="~/lib/jstree/dist/jstree.min.js"></script>

        @RenderSection("Scripts", false)

    </body>

</html>