<!DOCTYPE html>
<html>

    <head />
        <title>Authorisation Manager - @ViewBag.Title</title>
        <meta charset="utf-8" />

        <!-- style sheets are applied in the order they are included so site.css will override bootstrap.min.css  -->
        <!-- using the tilda ~ means the path is relative to the root of the app -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>

    </head>

    <body>

        <div id="wrapper">

            <div id="header" class="container-fluid">
                <ul class="nav">
                    <li class="active"><a asp-controller="App" asp-action="Home">Home</a></li>
                    <li><a asp-controller="App" asp-action="About">About</a></li>
                    <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                </ul>
            </div>

            <div>
                @RenderBody()
            </div>

            <div id="footer">
                <a href="https://github.com/grantcolley/authorisationmanager/tree/master/UI/ASPNetCore">Development In Progress Ltd</a>
            </div>


        </div>


        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"/>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"/>

        @RenderSection("Scripts", false);

    </body>

</html>

</!DOCTYPE>