<!DOCTYOE html>
    <html>

    <head />
    <title>Authorisation Manager - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/site.css" />

</html>

<body>
    @RenderBody()
</body>

</!DOCTYOE>