@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>An MVC5 web application providing the user interface for the Authorisation Manager project.</p>
<a class="btn btn-default" href="https://github.com/grantcolley/authorisationmanager">Learn more &raquo;</a>
