@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Development In Progress Ltd<br />
    London, United Kingdom<br />
    <abbr title="Phone">Phone:</abbr>
    +44 (0) 753 8087721
</address>

<address>
    <strong>Support:</strong> <a href="mailto:developmentinprogress@gmail.com">developmentinprogress@gmail.com</a><br/>
    <strong>Web:</strong> <a href="https://github.com/grantcolley">GitHub</a>
</address>